.Header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    color: var(--cinza);
    background-color: var(--preto);
    padding: 0.5rem;
    border: 0.5rem;
}

.Header span
{
    color: var(--roxo);
}

.Header a
{
    text-decoration: none;
    color: var(--cinza);
}

h1
{
    font-size: 2rem;
}